@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%); /* w3c */
}

button,a {
  cursor: pointer;
}
.center{
  display: flex;
  justify-content: center;
}
.centerAll{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}